{{#isArray}}{{#vendorExtensions.x-streamed-response}}io.smallrye.mutiny.Multi<{{{returnBaseType}}}>{{/vendorExtensions.x-streamed-response}}{{^vendorExtensions.x-streamed-response}}{{{returnType}}}{{/vendorExtensions.x-streamed-response}}{{/isArray}}{{^isArray}}{{{returnType}}}{{/isArray}}