{{#useMutiny}}{{^returnContainer}}Uni{{/returnContainer}}{{#returnContainer}}io.smallrye.mutiny.Multi{{/returnContainer}}{{/useMutiny}}{{^useMutiny}}CompletionStage{{/useMutiny}}<{{#returnResponse}}Response{{/returnResponse}}{{^returnResponse}}{{#returnContainer}}{{#isMap}}Map<String, {{{returnBaseType}}}>{{/isMap}}{{#isArray}}{{^useMutiny}}{{{returnContainer}}}<{{/useMutiny}}{{{returnBaseType}}}{{^useMutiny}}>{{/useMutiny}}{{/isArray}}{{/returnContainer}}{{^returnContainer}}{{{returnBaseType}}}{{/returnContainer}}{{/returnResponse}}>
