name: Publish Report

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  publish_report:
    permissions: write-all
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up JDK 21
        uses: actions/setup-java@v2
        with:
          java-version: '21'
          distribution: 'adopt'

      - name: Cache Maven packages
        uses: actions/cache@v2
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: Build and generate report
        run: |
          mvn -B site

      - name: Push Checkstyle results
        uses: jwgmeligmeyling/checkstyle-github-action@master
        with:
          path: '**/checkstyle-result.xml'
        
      - name: Publish report
        uses: actions/upload-artifact@v4
        with:
          name: Report
          path: target/site